.fullWidth {
	width: 100%;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 30%;
	border: 1px solid black;
	padding: 20px;
}

.row {
	padding-top: 10px;
	padding-bottom: 10px;
}

.error-message {
	font-size: 10px;
	color: brown;
}

ul {
	margin: 0px;
	padding: 10px;
	list-style-type: none;
}

.option-panel {
	background-color: whitesmoke;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	position: absolute;
	width: 91%;
}

.option-item {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	cursor: pointer;
}

.selected-item {
	font-weight: bold;
	background-color: wheat;
}
